.feed {
  flex: 0.6;
  margin: 0 20px;
  height: 100vh;
}

.feed__top {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

/*  */
.feed__createButton > .MuiSvgIcon-root {
  font-size: 1.5rem;
}

.feed__input {
  border: 1px solid #d3d3d3;
  display: flex;
  padding: 10px;
  padding-left: 13px;
  color: #999;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
}

.feed__input > form {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.feed__input > form > input {
  background-color: transparent;
  border: none;
  outline: none;
  font-weight: 600;
  flex: 1;
  color: #202020;
  padding: 10px;
  align-self: center;
}
.feed__input > form > button {
  display: none;
}

.feed__options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
