.post {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.post__header {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.post__info {
  margin-left: 10px;
}

.post__info > p {
  font-size: 13px;
  color: #999;
}
.post__info > h2 {
  font-size: 15px;
}

.post__body {
  overflow-wrap: break-word;
}

.post__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 30px;
  font-size: 13px;
}
.post__actions {
  display: flex;
  justify-content: flex-start;
  color: #b3b2b2;
  font-weight: 600;
  font-size: small;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-bottom: 1px solid #b3b2b2;
}
